:root {
    --button-color: silver;
    --bkg-color: silver;
    --body-color: #808080;
    --border-l: white;
    --border-d: #242424;
    --text-color: black;
    --link-color: blue;
    --link-v: #663366;
    --link-a: red;
    --outset: inset -1px -1px #0a0a0a,inset 1px 1px #fff,inset -2px -2px grey,inset 2px 2px #dfdfdf;
    --inset: -1px -1px #fff,inset 1px 1px #0a0a0a,inset -2px -2px #dfdfdf,inset 2px 2px grey;
    --gradient: linear-gradient(to left, cyan, blue, magenta);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
}

.box:not(#footer, .comments), .short, #name, .topLeft.blogCard, .tableLeft, .tableRight{
    background-color: var(--bkg-color) !important;
}

* {
    font-family: Courier, sans-serif;
}

#header {
     background-image: var(--gradient) !important;
}

#header, #hSub {
    background-color: var(--bkg-color) !important;
    box-sizing: border-box;
}

div#hSub {
    text-align: center;
}

#hSub a, #header a:not(.logo){
    color: var(--text-color);
}

.box:not(.topLeft.blogCard > .boxInfo.box, #footer, .comments, .fwiends), .short, #name, .tableRight {
    padding: 3.5em 2em ;
    margin-bottom: 20px;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
}

.topLeft.blogCard > .boxInfo.box {
    border: none;
    padding: 1.5em 1em ;
    margin-bottom: 20px;
}

#name, .topLeft.blogCard{
    padding: 1.5em 1em ;
    margin-bottom: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.box:not(.topLeft.blogCard > .boxInfo.box, #footer, .comments), .short, #name, .tableLeft, .tableRight, #name, .topLeft.blogCard {
    box-shadow: var(--outset);
}

div#hSub {
    box-shadow: var(--outset);
}

.short {
    margin-top: 10px;
}

#footer {
     bottom:0;
     font-size:0;
     left:500px;
     position:fixed;
     pointer-events: none;
}

pre {
    background-color: #242424;
    border: 2px solid var(--text-color);
    padding: 8px 16px ;
    overflow-x: auto;
}

code {
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
    color: white !important;
}

.avatar {
    max-width: 200px;
    width: 100%;
    margin: 0;
}

.box.fwiends, #name {
    border: 5px solid;
    border-image-slice: 1;
    border-image-source: var(--gradient);
}

.box.fwiends {
    padding: 3.5em 2em ;
    margin-bottom: 20px;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
}

.shortRight {
    padding-left: 20px;
}

:link { color: var(--link-color); }
:visited { color: var(--link-v); }
:link:active, :visited:active { color: var(--link-a); }

button{
    box-sizing:border-box;
    border:none;
    border-radius:0;
    min-width:75px;
    min-height:23px;
    padding:0 12px;
    background:silver;
    box-shadow: var(--outset);
}

.fwiendCount {
    color: #CC6633;
}

button:not(:disabled):active{
    box-shadow:inset -1px -1px #fff,inset 1px 1px #0a0a0a,inset -2px -2px #dfdfdf,inset 2px 2px grey;
    padding:2px 11px 0 13px;
}

button:focus{outline:1px dotted #000;outline-offset:-4px}

.boxButton {
    display: block;
    width: 150px;
    height: 25px;
    background: var(--button-color);
    box-shadow: var(--outset);
    padding: 10px;
    text-align: center;
    color: var(--text-color);
    font-weight: bold;
    line-height: 25px;
}

.boxInfo > a {
    text-decoration: none;
}

.boxButton:hover{
    box-shadow:inset -1px -1px #fff,inset 1px 1px #0a0a0a,inset -2px -2px #dfdfdf,inset 2px 2px grey;
}

.blurbs, .blog, .short {
    background: url(https://i.imgur.com/W20Qbxl.png?1) calc(100% - 5px) 2px no-repeat, linear-gradient(to bottom,blue 21px, transparent 1px);
}

.rightHead {
    border: 2px inset var(--border-l);
    background-color: var(--bkg-color);
    padding: 4px;
}

.boxHead {
    border: 2px outset var(--border-l);
    margin-bottom: 8px;
}

.url::before {
    content: url(https://i.imgur.com/1YUx3ch.gif);
    z-index: 0;
    display: inline;
    padding: 0;
    margin: 0px;
}

a:hover {
  animation: changeColor 1.5s linear infinite;
}

@keyframes changeColor{
    0%{color:#FDDB68;}
    10%{color:#F48190;}
    20%{color:#CE65BA;}
    30%{color:#AE73B5;}
    40%{color:#6880AC;}
    50%{color:#4892B7;}
    60%{color:#44BAAA;}
    70%{color:#6AC66F;}
    80%{color:#D1EC2B;}
    90%{color:#FFF011;}
    100%{color:#FFC16D;}
}
