/* Start http://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat943.cur), auto !important;} /* End http://www.cursors-4u.com */

.logo {
    color: white !important;
}

div#header {
    color: white;
    background-color: #f7beb5;
    background-image: url(https://media.giphy.com/media/147ausGRe6GogM/giphy.gif);
    text-align: center;
}

div#hSub {
    background-color: #f7beb5;
    text-align: center;
}

body {
    color: White;
    background-color: #f7beb5;
    background-image: url("https://64.media.tumblr.com/a41975f415e225a2e298d470984b2aaa/tumblr_oue1nvR5Fe1rbud4zo1_500.gifv");
    background-size:33%;
    background-attachment:fixed;
}

.url.box {
    color:#FFFFFF;
    border-color:#f7beb5;
    border: 3px solid

}

.player.box {
    background: #f7beb5;
}

.blog div{
    color: f7beb5;
    margin-bottom: 10px;
}

.url a {
    color: #f7beb5 !important;
}

.blog {
    color:white;
    background: rgba(0, 0, 0, 0.3);
    border: 3px solid;
    border-color:#f7beb5;
    padding: 15px;

}

.topRight.blogPost {
    color: #f7beb5;
    float: right;
    width: calc( 75% - 20px );
    padding: 1px;
}

#top {
   padding-left: 10px;
   padding-right: 10px;
   
   background-size: cover;
}

.fwiendCount {
    color:#f7beb5;
}

.rightHead {
    background:#f7beb5;
    color: gray;
    padding-left: 5px;
}

h4 {
    color:#f7beb5;
    margin-bottom: 5px;
}

.boxInfo {
    Color:white
    border-color:#f7beb5;
    border: 3px solid ;
    margin-bottom: 20px;
    margin-top: 20px;
}

.boxHead {
    background:#f7beb5;
    color: gray;
    padding: 3px;
    padding-bottom: 4px;
    padding-left: 6px;
}

form {
    margin-bottom: 20px;
    text-align: right;
}

.tableLeft {
    color:#ffffff;
    width: 15%;
    padding: 10px;
    vertical-align: top;
    margin-left: 36px;
    Background:#f7beb5;
}

.tableRight {
    color:f7beb5;
    width: 75%;
    padding: 10px;
    vertical-align: top;
    background: rgba(0, 0, 0, 0.3);

}

/* flower gif for the smsg, block, report, add, remove are from https://www.fg-a.com" (Free Gifs - Animations - Clipart) */

#sMsg {
    background-image: url(https://www.fg-a.com/flowers-animated/1-pink-flowers-animated.gif);
    background-size: 12%;
    color:#f7beb5;
}

#block {
    background-image: url(https://www.fg-a.com/flowers-animated/1-pink-flowers-animated.gif);
    background-size: 12%;
    color: #f7beb5;
}

#report {
    background-image: url(https://www.fg-a.com/flowers-animated/1-pink-flowers-animated.gif);
    background-size: 12%;
    color: #f7beb5;
}

#add {
    background-image: url(https://www.fg-a.com/flowers-animated/1-pink-flowers-animated.gif);
    background-size: 12%;
    color: #f7beb5;
}


#remove {
    background-image: url(https://www.fg-a.com/flowers-animated/1-pink-flowers-animated.gif);
    background-size: 12%;
    color: #f7beb5;
}

.fwiendFace, .tableLeft {
    transition: 0.5s;
    background: #ffffff00;
}
.fwiendFace:hover {
    border-radius: 10px;
    transform: scale(1.2);
    animation: wob .5s linear infinite;
    box-shadow: 0 0 1rem #fff;
    border: 1px solid #f7b5cd;
    transition: 0.5s;
}

.tableLeft:hover {
    border-radius: 30px;
    transform: scale(0.8);
    animation: wob .5s linear infinite;
    box-shadow: 0 0 1rem #fff;
    border: 1px solid #f7b5cd;
    transition: 0.5s;
}

/* unvisited link */
a:link {
  color: #9ef4d5;
}

/* visited link */
a:visited {
  color: #BEB5F7;
}

/* mouse over link */
a:hover {
  color: #BEB5F7;
}

/* selected link */
a:active {
  color: #BEB5F7;
}
