@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    color-scheme: dark; /* both supported */
        
}

#container:target body {
    background-color: white;
}

#container:target .url a, #container:target h4, #container:target .player, #container:target #add, #container:target #sMsg, #container:target #block, #container:target #report {
    color: black !important;
}

#container:target .box:not(#footer, .comments), #container:target .short, #container:target #name, #container:target .topLeft.blogCard, #container:target .tableRight{
    background-color: white;
}

#container:target a[href="#container"]:hover, #container:target a[href="#"]:hover {
    border: 1px solid #2e5d69;
}

#container:target .logo, #container:target #hSub a{
    color: black !important;
}

#container:target #header a{
    color: black;
}

#container:target #hSub{
    background-color: #ebebeb !important;
    border: 1px solid #ebebeb !important;
}

#container:target #header {
    background-color: white !important;
    border: 1px solid white !important;
}

body {
    background-color: #808080;
}

.url a, h4, .player, #add, #sMsg, #block, #report {
    color: white !important;
}
.box:not(#footer, .comments), .short, #name, .topLeft.blogCard, .tableRight{
    background-color: #242424;
}
a[href="#container"]:hover, a[href="#"]:hover {
    border: 1px solid white;
}

#container:target :root{
    color-scheme: light;
}

* {
    font-family: 'Roboto', sans-serif;
}

#header, #hSub {
    background-color: #141414 !important;
    box-shadow: 0px -10px 100px -20px #00000080;
    border: 1px solid #141414 !important;
}

.logo span::before {
    text-indent: 0px;
    float: left;
    content: url(https://sophiezhng.github.io/my-space-windows-93-themes/assets/icons/myspace.svg);
    margin-top: -3px;
    margin-right: 8px;
    width: 15px; 
    height: 15px;
    padding: 6px;
    background-color: white;
    border-radius: 5px;
}

div#hSub {
    text-align: center;
}

.box:not(.topLeft.blogCard > .boxInfo.box, #footer, .comments), .short, #name, .tableRight {
    box-shadow: 0px -10px 100px -20px #00000080;
    border-radius: 15px;
    padding: 3.5em 2em ;
    margin-bottom: 20px;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
}

.topLeft.blogCard > .boxInfo.box {
    border: none;
    padding: 1.5em 1em ;
    margin-bottom: 20px;
}

#name, .topLeft.blogCard{
    box-shadow: 0px -10px 100px -20px #00000080;
    border-radius: 15px;
    padding: 1.5em 1em ;
    margin-bottom: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.short {
    margin-top: 10px;
}

#footer {
     bottom:0;
     font-size:0;
     left:500px;
     position:fixed;
     pointer-events: none;
}

a[href="#container"],  a[href="#"]{
    display: block;
    width: 115px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    text-decoration: none;
    box-sizing: content-box;
}

#container:not(:target) a[href="#"],
#container:target a[href="#container"] {
    display: none;
}

#container:target a[href="#"] {
    display: inherit;
}

#container:target,
#container:target input,
#container:target textarea {
    color: black;
}

#container:target div{
    color-scheme: light;
}

.tableLeft {
    background-color: transparent;
}

pre {
    background-color: #242424;
    border-radius: 12px;
    padding: 8px 16px ;
    overflow-x: auto;
}

code {
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
    color: white !important;
}

.avatar {
    max-width: 200px;
    width: 100%;
    margin: 0;
}

.box.fwiends, #name {
    border: 5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, cyan, blue, magenta);
}

.shortRight {
    padding-left: 20px;
}


.rightHead, .boxHead {
    color: white;
    background: rgba(128,128,128,0.5);
    border: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, cyan, blue, magenta);
}
