/* Start https://www.cursors-4u.com */ * {cursor: url(https://ani.cursors-4u.net/nature/nat-11/nat1046.cur), auto !important;} /* End https://www.cursors-4u.com */

div#header {
    color: white;
    background-image: url(https://49.media.tumblr.com/79fe2a4106d6e23b4a19b0cc0b142ae5/tumblr_n8guvcqOU91rtieoxo1_500.gif);
    background-position: 150px;
    text-align: center;
}

div#hSub {
    background-color: #add8e6;
    text-align: center;
}

body {
    color: white;
    background-color: #add8e6;
    background-image: url("https://i.gifer.com/7QCE.gif");
    background-size:33%;
    background-attachment:fixed;
    font-family: "Courier New", monospace;
}

.player.box {
    background-image: url(https://cdn130.picsart.com/318714987084201.jpg);
    background-size: 33%;
    background-position: 150px;
}

.topLeft {
    animation-duration:1.5s;
    animation-name:slidein;
}
 
 
@keyframes slidein{
    from {
        margin-left:-100%;
}
 
 
     to {
       margin-left:0;
     }
}
 
 
.topRight{
     animation-duration:1.5s;
     animation-name:slide;
}
 
@keyframes slide{
    from {
        margin-right:-100%;
}
    to {
         margin-right:0;
 
    }
}
 
div#footer{
     bottom:0;
     font-size:0;
     left:500px;
     position:fixed;
     pointer-events: none;
 
}
 
 
div#footer::after{
     animation-duration:1.5s;
     animation-name:slideup;
 
}

@keyframes slideup{
     from {
           margin-right:-100%;
}
     to {
           margin-right:0;
     }
}

.fwiendFace, .tableLeft {
    transition: 0.5s;
    background: #ffffff00;
}

.fwiendFace:hover {
    border-radius: 10px;
    transform: scale(1.2);
    animation: wob .5s linear infinite;
    background: #ffffff00;
    box-shadow: 0 0 1rem #fff;
    border: 1px solid #add8e6;
    transition: 0.5s;
}

.tableLeft:hover {
    border-radius: 30px;
    transform: scale(0.8);
    animation: wob .5s linear infinite;
    box-shadow: 0 0 1rem #fff;
    border: 1px solid #add8e6;
    transition: 0.5s;
}

.tableRight{
    background: #69c;
}

.boxHead{
    color: #cc6633;
    background: #fc9;
}
