/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/nature/nat-11/nat1022.cur), auto !important;} /* End https://www.cursors-4u.com */
div#header {
    color: white;
    background-image: url(https://data.whicdn.com/images/342108134/original.gif);
    background-position: 150px;
    text-align: center;
    font-family: "Courier New", monospace;
}

div#hSub {
    text-align: center;
    font-family: "Courier New", monospace;
}

body {
    color: white;
    background-color: #add8e6;
    background-image: url("https://i.gifer.com/7QCE.gif");
    background-size:33%;
    background-attachment:fixed;
    font-family: "Courier New", monospace;
}

.player.box {
    background-image: url(https://cdn130.picsart.com/318714987084201.jpg);
    background-size: 33%;
    background-position: 150px;
}
/* This theme is made by "sophie" more can be found at: https://sophiezhng.github.io/my-space-windows-93-themes */ 
div#footer{
     bottom:0;
     font-size:0;
     left:500px;
     position:fixed;
     pointer-events: none;
 
}

.fwiendFace, .tableLeft {
    transition: 0.5s;
    background: #ffffff00;
}

.fwiendFace:hover {
    border-radius: 10px;
    transform: scale(1.2);
    animation: wob .5s linear infinite;
    background: #ffffff00;
    box-shadow: 0 0 1rem #fff;
    border: 1px solid #add8e6;
    transition: 0.5s;
}

.tableLeft:hover {
    border-radius: 30px;
    transform: scale(0.8);
    animation: wob .5s linear infinite;
    box-shadow: 0 0 1rem #fff;
    border: 1px solid #add8e6;
    transition: 0.5s;
}

.tableRight{
    background: #69c;
}

.boxHead{
    color: #cc6633;
    background: #fc9;
}
