/* import my webkinz theme FIRST */

/* if ur reading this feel free to use, JUST CREDIT PLS by linking my css theme site https://sophiezhng.github.io/my-space-windows-93-themes k thnx */

/* How i added my name and the made on mac at the bottom of the scrollable view */
.topRight::after {
    content: url(https://i.imgur.com/Sn9LGgX.png);
    right: 0px;
    margin-right: 10px;
    position: absolute;
}

/* the window with the crown of wonder / 88x31 buttons */
#hSub::after {
    content:
    url(https://i.imgur.com/P1299eY.png?3)
    url(https://i.imgur.com/1qd8K7v.gif)
    url(https://i.imgur.com/6hkEZb2.gif)
    url(https://i.imgur.com/B523JMe.gif)
    url(https://i.imgur.com/Y7w7yBF.gif)
    url(https://i.imgur.com/yPjAv2i.gif)
    url(https://i.imgur.com/thhkj4B.gif)
    url(https://i.imgur.com/f2bdl0y.gif)
    url(https://i.imgur.com/i1dcfZZ.gif)
    url(https://i.imgur.com/xWk4cDL.gif)
    url(https://i.imgur.com/lNOCiMp.gif)
    url(https://i.imgur.com/E2bZesR.gif)
    url(https://i.imgur.com/wu8ykeH.gif)
    url(https://i.imgur.com/N7iSSBm.gif)
    url(https://i.imgur.com/LzGMrtu.gif)
    url(https://i.imgur.com/wmCyFX9.gif);
    position: fixed;
    top: 190px;
    right: 65px;
    width: 176px;
    height: auto;
    z-index: -1000;
    background-image: url(https://i.imgur.com/9VC4AqH.png);
    background-size: 100%;
    padding: 40px 10px 10px 10px;
    border-bottom: 4px solid blue;
    border-radius: 0px 0px 10px 10px;
    font-size: 0;
}

/* fixes z-axis positioning after adding all those ::befores and ::afters */
.topRight, .topRight.blogPost {
    z-index: 1000;
}
